
block calendrier
  #flight-datepicker(class="input-daterange input-group")
  div(class="col-sm padding-res")
    .form-item
      span.fontawesome-calendar
      input(type="text" class="input-sm form-control" id="start-date" name="start" placeholder="Arrivée" data-date-format="DD, MM d")
      span.date-text.date-depart
  div(class="col-sm padding-res")

    .form-item
      span.fontawesome-calendar
      input(type="text" class="input-sm form-control" id="end-date" name="end" placeholder="Depart" data-date-format="DD, MM d")
      span.date-text.date-return
