extend layout

block header
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .container
    form(id="form" action='/search' autocomplete="off" method='get')
      div(class="row")
        div(id="input1" class="input-group")
          input(type="text" class="form-control" id="searchbar" name="searchText" placeholder="Ou voulez-vous aller ?" aria-label="Ou voulez-vous aller ?" aria-describedby="basic-addon2" )
          button(id="button1" class="btn" type="submit")
            i(class="fa fa-search")
        button(id="button2" class="btn" type="button" data-toggle="collapse" href="#input2" aria-controls="input2") Options avancées
        
      div(id="input2" class="collapse")
        div(class="card")
          div(class="form-group row")
            label(class="control-label" for="date10") Date de départ :
            input.form-control.datepicker(id='date10' type='text' end='date11')
            input(id='date10Sent' name="datedep" type='text' hidden)
          div(class="form-group row")
            label(class="control-label" for="date11") Date de retour :
            input.form-control.datepicker(id='date11' type='text' start='date10')
            input(id='date11Sent' name="datearr" type='text' hidden)
          div(class="form-group")
            label(for="FormControlSelect1") Nombre de personnes :
            select(class="form-control" name="numberpers" id="FormControlSelect1")
              option()
              option() 1
              option() 2
              option() 3
              option() 4
              option() 5
              option() 6
              option() 7
              option() 8
              option() 9
              option() 10+
          div(class="form-group")
            div(class="text") Type de service :
            div(class="row")
              div(class="col form-check form-check-inline")
                input(id="echange" class="form-check-input" type="checkbox" name="echange" value="1")
                label(class="form-check-label" for="echange") Echange
              div(class="col form-check form-check-inline")
                input(id="hebergement" class="form-check-input" type="checkbox" name="hebergement" value="1")
                label(class="form-check-label" for="hebergement") Hebergement
              div(class="col form-check form-check-inline")
                input(id="location" class="form-check-input" type="checkbox" name="location" value="1")
                label(class="form-check-label" for="location") Location
            div(class="text") Et pour les plus exigeants :
            div(class="row" id ="option")
              div(class="col form-check form-check-inline")
                input(id="pool" class="form-check-input" type="checkbox" name="pool" value="1")
                label.form-check-label(for="pool") Piscine
              div(class="col form-check form-check-inline")
                input(id="garden" class="form-check-input" type="checkbox" name="garden" value="1")
                label.form-check-label(for="garden") Jardin
              div(class="col form-check form-check-inline")
                input(id="city" class="form-check-input" type="checkbox" name="city" value="1")
                label.form-check-label(for="city") Centre ville


block scripts
  script(src="js/functions.js")
