doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
    link(rel="shortcut icon" href="/images/icons/favicon1.png")
    link(rel="stylesheet", href="/stylesheets/calendrier.css")
    block header
  body
    nav(class='navbar transparent navbar-expand-lg navbar-light bg-light')
      a(class='navbar-brand', href="/") BALM

      button(class='navbar-toggler', type='button', data-toggle='collapse',
             data-target='#navbarContent')
        span(class='navbar-toggler-icon')

      div(class='navbar-collapse collapse', id='navbarContent')
        ul(class='navbar-nav mr-auto')
          li(class='nav-item')
            a(class='nav-link', href='/') Accueil
            
        ul(class='navbar-nav')
          form(id="form-layout" action='/search' autocomplete="off" method='get')
            div(id="input1_head" class="input-group")
              input(type="text" class="form-control" id="searchbar_head" name="searchText" placeholder="Ou voulez-vous aller ?" aria-label="Ou voulez-vous aller ?" aria-describedby="basic-addon2" )
              button(id="button1_head" class="btn" type="submit")
                i(class="fa fa-search")
              button(id="button2_head" class="btn" type="button" data-toggle="collapse" href="#options-avancées" aria-controls="options-avancées") Options avancées
                      
            div(id="options-avancées" class="collapse card")
              div(class="form-group row" id ="option")
                label(class="control-label" for="date") Date de départ :
                input(id="date" class="form-control" name="datedep" type="text" )
              div(class="form-group row" id ="option")
                label(class="control-label" for="date2") Date de retour :
                input(id="date2" class="form-control" name="datearr" type="text" onclick="setminvalue()")
              div(class="form-group row" id ="option")
                label(for="FormControlSelect1") Nombre de personnes :
                select(class="form-control" name="numberpers" id="FormControlSelect1")
                  option()
                  option() 1
                  option() 2
                  option() 3
                  option() 4
                  option() 5
                  option() 6
                  option() 7
                  option() 8
                  option() 9
                  option() 10+
              div(class="form-group row")
                div(class="text") Type de service :
                div(class="row")
                  div(class="col form-check form-check-inline")
                    input(id="echange" class="form-check-input" type="checkbox" name="echange" value="1")
                    label(class="form-check-label" for="echange") Echange
                  div(class="col form-check form-check-inline")
                    input(id="hebergement" class="form-check-input" type="checkbox" name="hebergement" value="1")
                    label(class="form-check-label" for="hebergement") Hebergement
                  div(class="col form-check form-check-inline")
                    input(id="location" class="form-check-input" type="checkbox" name="location" value="1")
                    label(class="form-check-label" for="location") Location
              div(class="form-group row")
                div(class="text") Et pour les plus exigeants :
                div(class="row")
                  div(class="col form-check form-check-inline")
                    input(id="pool" class="form-check-input" type="checkbox" name="pool" value="1")
                    label(class="form-check-label" for="pool") Piscine
                  div(class="col form-check form-check-inline")
                    input(id="garden" class="form-check-input" type="checkbox" name="garden" value="1")
                    label(class="form-check-label" for="garden") Jardin
                  div(class="col form-check form-check-inline")
                    input(id="city" class="form-check-input" type="checkbox" name="city" value="1")
                    label(class="form-check-label" for="city") Centre ville
        
        ul(class='navbar-nav ml-auto')
          if session
            li.nav-item
              a.btn.btn-outline-secondary.my-2.my-lg-0(href="/goods/new") Déposer une annonce
            li(class='nav-item')
              a(class='nav-link' href='/user') #{session.email}
            li(class='nav-item')
              a(class='nav-link', href='/user/logout') Déconnexion
          else
            li(class='nav-item')
              a(class='nav-link', href='/user/login') Connexion


    block content

    footer(class= "footer")
       button(type="button" class="btn " data-toggle="modal" data-target="#exampleModalLong") Aide
       div(class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
         div(class="modal-dialog" role="document")
           div(class="modal-content")
             div(class="modal-header")
               h5(class="modal-title" id="exampleModalLongTitle") Aide
               button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                 span(aria-hidden="true") &times;
             div(class="modal-body")
             div(class="modal-footer")
               button(type="button" class="btn btn-secondary" data-dismiss="modal") Fermer l'aide

    script(src='/js/popper.min.js')
    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/js/layout.js')
    script(src="/js/autocomplete.js")
    block scripts
