doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    block header
  body
    nav(class='navbar transparent navbar-expand-lg navbar-light bg-light')
      a(class='navbar-brand', href="/") BALM

      button(class='navbar-toggler', type='button', data-toggle='collapse',
             data-target='#navbarContent')
        span(class='navbar-toggler-icon')

      div(class='navbar-collapse collapse', id='navbarContent')
        ul(class='navbar-nav mr-auto')
          li(class='nav-item')
            a(class='nav-link', href='/') Accueil

        ul(class='navbar-nav ml-auto')
          if session
            li(class='nav-item')
              a(class='nav-link' href='/user') #{session.email}
            li(class='nav-item')
              a(class='nav-link', href='/user/logout') Déconnexion
          else
            li(class='nav-item')
              a(class='nav-link', href='/user/login') Connexion

    block content


    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    block scripts
