doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
    link(rel="shortcut icon" href="/images/favicon.png")
    block header
  body
    nav(class='navbar transparent navbar-expand-lg navbar-light bg-light')
      a(class='navbar-brand', href="/") BALM

      button(class='navbar-toggler', type='button', data-toggle='collapse',
             data-target='#navbarContent')
        span(class='navbar-toggler-icon')

      div(class='navbar-collapse collapse', id='navbarContent')
        ul(class='navbar-nav mr-auto')
          li(class='nav-item')
            a(class='nav-link', href='/') Accueil

        ul(class='navbar-nav ml-auto')
          if session
            li.nav-item
              a.btn.btn-outline-secondary.my-2.my-lg-0(href="/goods/new") Déposer une annonce
            li(class='nav-item')
              a(class='nav-link' href='/user') #{session.email}
            li(class='nav-item')
              a(class='nav-link', href='/user/logout') Déconnexion
          else
            li(class='nav-item')
              a(class='nav-link', href='/user/login') Connexion

    block content

    script(src='/js/popper.min.js')
    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/js/bootstrap-datepicker.fr.min.js')
    block scripts
