doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
    link(rel="shortcut icon" href="/images/icons/favicon1.png")
    link(rel="stylesheet", href="/stylesheets/calendrier.css")
    block header
  body
    nav(class='navbar transparent navbar-expand-lg navbar-light bg-light')
      a(class='navbar-brand', href="/") BALM

      button(class='navbar-toggler', type='button', data-toggle='collapse',
             data-target='#navbarContent')
        span(class='navbar-toggler-icon')

      div(class='navbar-collapse collapse', id='navbarContent')
        ul(class='navbar-nav w-100')
          li(class='nav-item')
            a(class='nav-link', href='/') Accueil
            
          li(class='nav-item mx-auto')
            form(id="form-layout" action='/search' autocomplete="off" method='get')
              div(id="input1_head" class="input-group")
                input(type="text" class="form-control" id="searchbar_head" name="searchText" placeholder="Ou voulez-vous aller ?" aria-label="Ou voulez-vous aller ?" aria-describedby="basic-addon2" )
                button(id="button1_head" class="btn" type="submit")
                  i(class="fa fa-search")
                button(id="button2_head" class="btn" type="button" data-toggle="collapse" href="#options-avancées" aria-controls="options-avancées") Options avancées
                        
              div(id="options-avancées" class="collapse card")
                div(class="form-group row" id ="option")
                  label(class="control-label" for="date24") Date de départ :
                  input(id="date24" class="form-control" name="datedep" type="text" )
                div(class="form-group row" id ="option")
                  label(class="control-label" for="date25") Date de retour :
                  input(id="date25" class="form-control" name="datearr" type="text" )
                div(class="form-group row" id ="option")
                  label(for="FormControlSelect1") Nombre de personnes :
                  select(class="form-control" name="numberpers" id="FormControlSelect1")
                    option()
                    option() 1
                    option() 2
                    option() 3
                    option() 4
                    option() 5
                    option() 6
                    option() 7
                    option() 8
                    option() 9
                    option() 10+
                div(class="form-group row")
                  div(class="text") Type de service :
                  div(class="row")
                    div(class="col form-check form-check-inline")
                      input(id="echange" class="form-check-input" type="checkbox" name="echange" value="1")
                      label(class="form-check-label" for="echange") Echange
                    div(class="col form-check form-check-inline")
                      input(id="hebergement" class="form-check-input" type="checkbox" name="hebergement" value="1")
                      label(class="form-check-label" for="hebergement") Hebergement
                    div(class="col form-check form-check-inline")
                      input(id="location" class="form-check-input" type="checkbox" name="location" value="1")
                      label(class="form-check-label" for="location") Location
                div(class="form-group row")
                  div(class="text") Et pour les plus exigeants :
                  div(class="row")
                    div(class="col form-check form-check-inline")
                      input(id="pool" class="form-check-input" type="checkbox" name="pool" value="1")
                      label(class="form-check-label" for="pool") Piscine
                    div(class="col form-check form-check-inline")
                      input(id="garden" class="form-check-input" type="checkbox" name="garden" value="1")
                      label(class="form-check-label" for="garden") Jardin
                    div(class="col form-check form-check-inline")
                      input(id="city" class="form-check-input" type="checkbox" name="city" value="1")
                      label(class="form-check-label" for="city") Centre ville
          
          li(class='nav-item')
            if session
              li.nav-item.dropdown.ml-auto
                a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{session.email}
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item.btn.btn-outline-secondary(href="/goods/new") Déposer une annonce
                  a.dropdown-item(href='/user') Mon compte
                  a.dropdown-item(href='/message') Mes messages
                  a.dropdown-item(href='/user/logout') Déconnexion
            else
              li(class='nav-item')
                a(class='nav-link', href='/user/login') Connexion

    block content

    footer(class= "footer")
       button(type="button" class="btn " data-toggle="modal" data-target="#exampleModalLong") Aide
       div(class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
         div(class="modal-dialog" role="document")
           div(class="modal-content")
             div(class="modal-header")
               h5(class="modal-title" id="exampleModalLongTitle") Aide
               button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                 span(aria-hidden="true") &times;
             div(class="modal-body")
               p() Ce site permet de mettre en relation des particuliers afin de sous-louer leurs maisons, de proposer un hébergement ou d'échanger sa maison.
               p() Pour utiliser ce site, vous devez créer un compte en fournissant les informations suivantes : Nom, Prénom, Adresse mail et Mot de passe.
               p() Ce site ne permet pas de faire des transactions bancaires, celles-ci doivent être organisé par les particuliers.
               p() Pour toutes communications, nous vous mettons à disposition un service de communication via le site.
               p() Grâce à la barre de recherche vous pouvez acceder rapidement à de nombreuses offres mise en ligne. Il vous suffit de taper le nom d'une destination, d'une region, d'une ville, et nous vous trouvons toutes les offres à proximités. Vous pouvez aussi affiner votre recherches en précisant vos dates d'aller et de retour, le type d'offres que vous rechercher, un nombre de personne et certaines caractéristiques que vous rechercher dans les offres.
               
             div(class="modal-footer")
               button(type="button" class="btn btn-secondary" data-dismiss="modal") Fermer l'aide

    script(src='/js/popper.min.js')
    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/js/layout.js')
    script(src="/js/autocomplete.js")
    block scripts
