div(id="searchbarautocomplete-list" class="autocomplete-items")
  div(style=)
    strong Tou
    | louse
    input(value="Toulouse" type="hidden")
  div(style=)
    strong Tou
    | lon
    input(value="Toulon" type="hidden")
