h5.card-title Mes Offres
.card-content
  if offers.length > 0
    ul.list-group
      each offer in offers
        li.list-group-item
          h5
            a(href="/goods/" + offer.id) #{offer.title} 
            case offer.type
              when 0
                | (Location) à #{offer.price} € par nuit
              when 1
                | (Echange)
              when 2
                | (Hébergement)
          .row
            .col-lg-3
              .crop
                img.offer-img(src=offer.path)

            .col-lg-9
              p #{offer.description}
              .text-right
                a.btn.btn-primary.mr-2(href="/goods/edit/" + offer.id) Modifier
                a.btn.btn-danger.mr-2(href="/goods/delete/" + offer.id) Supprimer
  else
    p Vous n'avez pas d'offres actuellement
