h5.card-title Informations personelles
.card-content
  img.offer-img2(src=user.imagePath)
  .col-lg-6
    form(id="modifyForm" action='/user' method='post' enctype="multipart/form-data")
      div(class="form-group row")
        label(for="staticEmail" class="col-sm-4 col-form-label") Email :
        div(class="col-sm-8")
          input(type="text" class="form-control" id="staticEmail" name="email" value=user.email readonly)
      div(class="form-group row")
        label(for="inputPassword" class="col-sm-4 col-form-label") Nom :
        div(class="col-sm-8")
          input(type="text" class="form-control" id="inputPassword" name="firstname" value=user.firstName readonly)
      div(class="form-group row")
        label(for="inputPassword" class="col-sm-4 col-form-label") Prénom :
        div(class="col-sm-8")
          input(type="text" class="form-control" id="inputPassword" name="lastname" value=user.lastName readonly)
      div(id="divPassword" class="form-group row" hidden)
        label(for="inputPassword" class="col-sm-4 col-form-label") Mot de passe :
        div(class="col-sm-8")
          input(type="password" class="form-control" id="inputPassword" placeholder="Password" readonly)
      div(class="form-group row")
        label(for="inputPassword" class="col-sm-4 col-form-label")
        div(class="col-sm-8")
          button(id="modifyButton" type="submit" class="btn btn-primary") Modifier
      
