h5.card-title Mes Offres
.card-content
  if offers.length > 0
    ul.list-group
      each offer in offers
        li.list-group-item
          include user-offer
  else
    p Vous n'avez pas d'offres actuellement
