.titre-maison {
    padding-top: 1%;
}

.gris {
    color: #E8EEEE;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    max-height: 600px;
    padding-left: 0;
    padding-right: 0;
    border-top-right-radius:0.7%;
    border-top-left-radius: 0.7%;
}

.page {
    padding: 2%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.container {
    background-color: #fff;
    padding-bottom: 10px;
    margin-top: 3%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0.5%;
    padding-top: 0;
}

.inline {
    display: inline;
}

.button {
    margin: 5%;
}
.btn-info {
    color: #fff;
    background-color: #B9121B;
    border-color: #B9121B;
}
.btn-outline-danger {
    color: #B9121B;
    background-color: transparent;
    background-image: none;
    border-color: #B9121B;
}
.commentaires {
    margin-top: 5%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: : 1px;
    background-color: #E7E7E7;
    border-radius: 10px;
}

.etoile {
    color: #ffc107;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #B9121B;
    border-color: #B9121B;
}

.form-control-lg {
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.reservation {
    height: 100%;
    width: 100%;
    background-color: #E7E7E7;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.cadre {
    margin-right: 15px;
}

.padding-res {
    padding: 3%;
}

.body {
    max-width: 30em;
    margin: 1em auto;
    text-align: center;
}

.demo {
    text-align: left;
}
.recavance2 img{
  display: inline;
  height: 30px;
  border-radius: 25%;
  margin:2%;
  background-color: #B9121B;
}
.col{
  padding-left: 0;
  padding-right: 0;
}
.col-sm-1{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}
.left{
  padding-right: 4%;
}
.right{
  padding-left: 4%;
}
