.image-upload input {
    display: none;
}

.image-upload img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    cursor: pointer;
}

.image-upload {
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.mar10 {
  margin-right: 10%;
}

.decright {
  margin-left: 27%;
}

.autocomplete-items {
    position: absolute;
    border-left: 2px solid #B9121B;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #B9121B;
    color: white;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
