.image-upload input {
    display: none;
}

.image-upload img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    cursor: pointer;
}

.image-upload {
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.mar10 {
  margin-right: 10%;
}

.decright {
  margin-left: 27%;
}

/*.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.autocomplete-items div:hover {

    background-color: #d4d4d4;
    color: white;
}

.autocomplete-active {

    background-color: DodgerBlue !important;
    color: #ffffff;
}*/
