.carousel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel-inner {
  min-width: 1000px;
}

#img {
    /* -webkit-filter: blur(2px);
    filter: blur(2px); */  /* image fading */
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchTerm {
  float: left; /* je sais pas ce que c'est a test */
  width: 100%;
  border: 1px solid #00FF00;
  padding: 5px; /* je sais pas ce que c'est a test */
  height: 40px;
  border-radius: 0px;
  outline: none; /* je sais pas ce que c'est a test */
  color: #000000;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  position: absolute;
  right: -40px;
  width: 40px;
  height: 40px;
  border: 1px solid #00FF00;
  background: #00FF00;
  text-align: center;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  font-size: 20px;
}
.dropdown-toggle {
  position: absolute;
  right: -213px;
  height: 40px;
  width: 170px;
  border: 1px solid #00FF00;
  color: #fff;
  background: #00FF00;
  border-radius: 0px;
}
.dropdown-menu {
  border: 0px solid #00FF00;
  border-radius: 0px;
  width: 500px;
}
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
