.container {
    padding-top: 40px;
}

.navbar {
    z-index: 2;
}

body {
    background: url("../images/test1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
}

.jumbotron-custom {
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #9b2337;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.jumbotron-transparent {
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: transparent;
    color: white;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.header {
    color: white;
    border-radius: 5px;
    background-color: none;
    display: inline-flex;
    text-align: center;
    /*margin: 10px;*/
    padding-left: 10px;
    padding-right: 10px;
}

.titre {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 3px 3px 6px black;
}
