.container {
    padding-top: 40px;
}

.navbar {
  z-index: 2;
}

body {
  background-image:url(../images/wallpaper.jpg);
}

.jumbotron-custom {
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: rgba(0, 255, 0, 0.4);
}
