.container {
    padding-top: 40px;
}

.navbar {
  z-index: 2;
}

body {
    background-image: url("../images/test.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron-custom {
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #5aa3a8;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.jumbotron-transparent {
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: transparent;
    color: white;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
