.card-content {
    text-align: left;
}

.card-header a:hover {
    cursor: pointer;
}

.offer-title {
    margin-left: 5px;
    margin-bottom: 7px;
}

.img-col {
    padding-left: 0px;
    float: left;
}

.crop {
    width: 100%;
    padding-top: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.offer-img2 {
    position: absolute;
    left: 80%;
    bottom: 0;
    height: 200px;
}

.offer-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.profile-img {
    object-fit: cover;
    border-radius: 50%;
}

.inline {
    display: inline;
}

.comment-content {
    padding-left: 30px;
}

.card-content a:hover {
    text-decoration: none;
}
